<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/1063/1063196.png"
      type="image/x-icon"
    />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!-- animate -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <link rel="stylesheet" href="/css/izitoast.css" />
    <link rel="stylesheet" href="/css/signin-up.css" />
</head>
<body>
    <div class="password-reset-container">
        <div class="password-reset-container-heading">
            <h1>Reset Password</h1>
        </div>
        <div class="password-reset-container-form">
            <form action="/blog/post-blog" method="POST" class="password-reset-form">
                <!-- hidden input -->
                <input type="hidden" name="accessToken" value="<%= accessToken %>" />
                <div class="input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" required />
                </div>
                <div class="input-container">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
                </div>
                <input type="submit" value="Reset Password" class="password-reset-button" />
            </form>
        </div>
    </div>
</body>
</html>

