@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ebf2fd;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Regular';
    overflow: hidden;
}

.back-btn {
    position: absolute;
    top: -10px;
    left: 10px;
}

.form-container {
    width: 400px;
    height: 650px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px #fafbfe;
    border-radius: 30px;
}

.admin-form-container {
    width: 350px;
    height: 450px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px #fafbfe;
    border-radius: 30px;
}

.user-admin-option {
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.user-admin-option h3 {
    width: 80%;
    float: left;
}

.user-admin-option p {
    font-size: 0.8rem;
}

.toggle-admin {
    color: #21587e;
    cursor: pointer;
    font-weight: 600;
}
.toggle-user {
    color: #21587e;
    cursor: pointer;
    font-weight: 600;
}

.admin {
    display: none;
}

.option-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.option-container button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #409ad6;
    border-radius: 50%;
    cursor: pointer;
}

.option-container button i {
    color: white;
}

.user-option {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: #ebf2fd;
    border-radius: 30px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
}

.user-option img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 10px rgb(110, 110, 110));
}

.admin-option {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
}

.admin-option img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 10px rgb(110, 110, 110));
}

.admin-login {
    display: none;
}

.sign-up-container {
    display: none;
}

.sign-up-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20%;
}

.sign-in-container.active {
    display: flex;
    position: absolute;
    left: 30%;
}

.sign-in-container {
    display: none;
}

form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-heading {
    width: 90%;
}

.sign-up-form-heading {
    width: 90%;
    margin-bottom: 10px;
}

.sign-up-form-heading h1 {
    font-size: 1.3rem;
    text-align: left;
}

h1 {
    font-size: 2rem;
    width: 90%;
    text-align: left;
}

.last-h1 {
    font-size: 0.8rem;
    margin: 5px 0 15px 0;
}

.sign-up-form-heading {
    font-size: 1rem;
    width: 90%;
    text-align: left;
}

.input-container {
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #ebf2fd;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    margin: 10px;
}

.input-container i {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #818181;
}

.input-container input {
    width: 90%;
    height: 80%;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: black;
}

.input-container input::placeholder {
    color: rgb(170, 170, 170);
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    box-shadow: 0 0 0 1000px #ebf2fd inset !important;
}

.password-input-container {
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #ebf2fd;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    border-radius: 10px;
    margin: 10px;
}

.password-input-container i {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #818181;
}

.show-password {
    width: 13% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    cursor: pointer !important;
}

.show-confirm-password {
    width: 13% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    cursor: pointer !important;
}

.password-input-container input {
    width: 80%;
    height: 80%;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: black;
}

.password-input-container input::placeholder {
    color: rgb(170, 170, 170);
}

.confirm-input-container {
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #ebf2fd;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    border-radius: 10px;
    margin: 5px;
}

.confirm-input-container i {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #818181;
}

.show-password {
    width: 13% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    cursor: pointer !important;
}

.confirm-input-container input {
    width: 80%;
    height: 80%;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: black;
}

.confirm-input-container input::placeholder {
    color: rgb(170, 170, 170);
}

.forget-password-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #333de2;
    text-decoration: none;
    cursor: pointer;
}

.sign-in-btn {
    width: 40%;
    height: 45px;
    background-color: #333de2;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.sign-in-btn:hover {
    background-color: #2c35ce;
}

.divider {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.line-left {
    height: 1px;
    margin-right: 11px;
    margin-left: 11px;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 35%, rgb(161, 165, 190));
    border-radius: 2px;
}

.line-right {
    height: 1px;
    margin-right: 11px;
    margin-left: 11px;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 35%, rgb(161, 165, 190));
    border-radius: 2px;
    transform: rotate(180deg);
}

.divider p {
    font-size: 0.8rem;
    color: #818181;
}

.other-login-method-container {
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.other-login-method-container a {
    width: 40px;
    height: 40px;
    background-color: #1a2733;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
}

.other-login-method-container a span {
    font-size: 0.7rem;
    margin-left: 10px;
    color: #ffffff;
}

.sign-up-para {
    font-size: 0.8rem;
    color: #818181;
    margin-top: 10px;
}

.sign-up-para span {
    color: #333de2;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
}

.forget-password-reset-container {
    width: 450px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px #fafbfe;
    display: none;
}

.forget-password-reset-container.active {
    display: flex;
}

.forget-password-form-heading {
    width: 100%;
    margin-bottom: 5px;
}

.forgot-form p {
    width: 90%;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.forget-password-form-heading h1 {
    width: inherit;
    text-align: center;
}

.forget-reset-btn {
    width: 40%;
    height: 45px;
    background-color: #333de2;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px #fafbfe;
}


.password-reset-container {
    padding: 20px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px #fafbfe;
}

.password-reset-container-heading h1 {
    width: inherit;
    text-align: center;
}

.password-reset-container-heading {
    width: 100%;
    margin-bottom: 5px;
}

.password-reset-form p {
    width: 90%;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.password-reset-button {
    width: 60%;
    height: 45px;
    background-color: #333de2;
    border-radius: 17px;
    margin: 20px;
    cursor: pointer;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px #fafbfe;
}